.slides {
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 15px;
  > .slide {
    grid-area: 1 / -1;
  }

  perspective: 700px;
  min-height: 70vh;
}
.carousel-buttons {
  display: flex;
  justify-content: space-around;
  > button {
    appearance: none;
    background: transparent;
    border: none;
    color: #9c9c9c;
    position: relative;
    top: 30%;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 5;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

.slide {
  transform-style: preserve-3d;
  outline: 1px solid black;
  width: 20vw;
  height: 50vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  transform: translateX(calc(100% * var(--offset)))
    rotateY(calc(-20deg * var(--dir)));

  transition: transform 0.5s ease-in-out;

  &[data-active] {
    // transform: rotateX(calc(--x * 45deg));
    opacity: 1;
    color: green;
  }
}

.slide[data-active] {
  // --x: calc(var(--px) - 0.5);
  // --y: calc(var(--py) - 0.5);

  &:hover {
    transition: ease-in-out 0.3s;
    transform: rotateY(calc(var(--x) * 45deg));
  }
}

.slide-link {
  height: 75%;
  right: 0px;
  bottom: 80px;
}

// Carousel Buttons

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animated-word {
  background-color: rgba(24, 24, 24, 0.719);
  min-height: 25px;
  min-width: 70px;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.753);
  cursor: pointer;
  outline: 1px solid;
  outline-color: #ffd700;
  outline-offset: 10px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.animated-word:hover {
  color: #fff;
  outline-color: #ffd90000;
  outline-offset: 50px;
}
